.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #69a4df;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .navbar-brand {
    font-size: 24px;
  }
  
  .navbar-nav {
    list-style: none;
    display: flex;
  }
  
  .nav-item {
    margin-right: 10px;
  }
  
  .nav-link {
    text-decoration: none;
    padding: 10px;
    color: #000;
  }
  
  .btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }